
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="title-space">
            <p class="name-product"><%=product.name%></p> 
            <a href="/products/<%=product.id%>" class="btn-sh-cart">Cotizar</a>
        </div>
            <%= image_tag product.images[0], class:"card-img-top" %>  
        <div class="card-body">
            <p class="card-text"> <%=product.description%></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
                <small class="text-muted"><%=product.final_price%></small>
            </div>
        </div>
    </div>
</div>